.group-header {
  padding: 1rem;
  margin-bottom: 0;
  background: #a35dff;
  color: #fff;
}
.group-card {
  box-shadow: 0 10px 22px -7px #0000002e;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  overflow: hidden;
}
.sidebar .nav .nav-item .nav-link.active .menu-title {
  color: #b66dff;
}
.sidebar .nav .nav-item .nav-link.active .menu-icon {
  color: #b66dff;
}
.nav-tabs .nav-link.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100%;
  height: 10px;
  width: 10px;
  background: inherit;
  clip-path: polygon(
    10% 33%,
    26% 59%,
    44% 76%,
    67% 90%,
    100% 100%,
    0 100%,
    0 0
  );
}
.nav-tabs .nav-link {
  padding: 10px 16px;
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  min-width: 100px;
  margin-bottom: 0;
  color: #000;
  text-align: center;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  z-index: 1;
  position: relative;
}
.nav-tabs {
  border: none;
}
.modal-dialog.form-moal {
  max-width: 750px;
}
.modal-dialog.form-moal .modal-content {
  background-color: #fff;
}
.form-select,
.form-control {
  border-color: #d6dae3;
}
.form-select:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.fieldset {
  padding: 25px 15px 15px;
  position: relative;
  border: 1px solid;
  margin-bottom: 40px;
}
.fieldset .legend {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0 5px;
  transform: translateY(-50%);
  background: #fff;
  margin: 0;
}
.counter {
  position: relative;
  border: 1px solid;
  padding: 5px !important;
  width: 200px;
}
.counter .btn {
  padding: 4px 10px;
  font-size: 26px;
  line-height: 1;
  position: absolute;
  top: 5px;
}

.counter input {
  width: 100%;
  height: 37px;
  border: none;
  text-align: center;
}

.counter .btn.btn-danger {
  right: 5px;
}
